$cod-gray-200: #181818;
$cod-gray-700: #777777;
$white: #ffffff;
$white-tr: rgba(255, 255, 255, 0.25);
$black: #000000;
$black-tr: rgba(0, 0, 0, 0.8);
$international-orange-500: #ff4f00;
$international-orange-500-tr: rgba(255, 79, 0, 0.102);
$international-orange-500-tr2: rgba(255, 79, 0, 0.5);
$red-500: #ff0000;
$red-500-tr: rgba(255, 0, 0, 0.5);